<h1><%= @car.model %></h1>
<%= @car.brand %>
<%= @car.year %>
<%= @car.description %>
<%= @car.place %>
<%= @car.price_per_day %>
<%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
<% if current_user.id == @car.user_id %>
<%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-primary'%>
<%= link_to 'Destroy', car_path(@car), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }%>
<%end%>
<%= link_to 'Back', cars_path  %>

  <%= simple_form_for ([ @car, @booking ]) do |f| %>
    <%= f.input :checking_date %>
    <%= f.input :checkout_date %>
    <%= f.submit "Submit booking", class: "btn btn-primary" %>
  <% end %>
